<ion-view hide-nav-bar="true">
<ion-header-bar class="bar-calm">
  <h1 style="text-align: center;" class="title">Chats</h1>
  <a class="button" ng-click="openModal()"><i class="icon ion-plus"></i></a>
</ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-if="$root.loggedIn" class="item-remove-animate item-avatar item-icon-right chat-item item item-avatar" ng-repeat="chatReceiver in chatReceivers track by $index" type="item-text-wrap" href="#/tab/chats/{{chatReceiver.nick}}">
      <img >
      <h2>{{chatReceiver.nick}}</h2>
      <p>{{chatReceiver.lastText}}</p>
      <p>{{humanize(chatReceiver.time)}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



